<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Article index
	</title>
</head>
<body>
	 <header>
	 	<h1>Articles</h1>
	 	<nav>
	 		<ul>
	 			<li><a href="/">Home</a></li>
	 			<li><a href="/articles/new">Create a new Article</a></li>
	 		</ul>
	 	</nav>
	 	<ul>
	 		<% for (let i = 0; i < articles.length; i++) { -%>
	 			<li>
	 				<a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a>
	 			</li>
	 			<form action="/articles/<%= articles[i].id %>?_method=DELETE" method="POST">
	 				<button>Delete this article</button>
	 			</form>
	 		<% } -%>

	 	</ul>
	 </header>

</body>
</html>